<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="addObject()">Add Object</ion-button><br>
    <ion-button (click)="showObject()">Show Object</ion-button><br>
    <ion-button (click)="authenticateButton()">Authenticate</ion-button><br>   
    <ion-button (click)="FauthenticateButton()">Unauntheticate</ion-button>
    
    <div *ngIf = "isLoading"> {{loadingText}} </div>
    <div *ngIf = "showObj">{{objectArray}}</div>
    

    <div>
      <p>Dela Cruz, Clarence Selwyn</p>
      <p>Singson, Ken Timothy</p>
      <p>Luna, Viemon</p>
    </div>
  </div>
</ion-content>
